body {
    background-color: bisque;
    margin: 25px 25px 25px 25px
}

ul li {
    background-color: chartreuse;
}

h2 {
    font-size: 40px;
}

h1 {
    font-size: 65px;
}

ol li {
    background-color: cyan;
}

footer {
    font-size: 35px;
}